<header class="media flex-vertical-center nonav">
  <figure class="media-left">
    <p class="image">
      <a href="{{root}}index.html">
        <img src="{{root}}assets/img/logo-60.png" alt="Logo">
      </a>
    </p>
  </figure>
  <div class="media-content">
    <h1 class="has-text-primary">
      Pressed in Thyme
    </h1>
  </div>
</header>

<section class="section">
  <div class="content">
    <h2 class="has-text-secondary">Oops, there is not content at this URL.</h2>
    <p class="is-size-5">Please use these links to explore the Pressed In Thyme website.</p>
    <ul class="links-list">
      <li><i class="fas fa-link" aria-hidden="true"></i> <a href="{{root}}index.html">Pressed In Thyme Home page</a></li>
      <li><i class="fas fa-link" aria-hidden="true"></i> <a href="{{root}}info/page-dj.html">Information on the Dulcimer Jambalaya blog</a></li>
      <li><i class="fas fa-link" aria-hidden="true"></i> <a href="{{root}}info/page-bg.html">Information on the Beyond Gumbo blog</a></li>
      <li><i class="fas fa-link" aria-hidden="true"></i> <a href="{{root}}info/page-ppv.html">Information on the Picturesque Photo Views blog</a></li>
    </ul>
  </div>
</section>
