  <footer class="footer is-primary">
    <div class="container">
      <div class="columns">
        <div class="column">
          <p>Copyright &#169; {{year}} Pressed in Thyme, all rights reserved.</p>
        </div>
        <div class="column has-text-right-tablet">
          <p>Created using the <a href="https://github.com/jgthms/bulma#readme" target="_blank">
            <span class="icon-text">
              <span>Bulma CSS Framework </span>
              <span class="icon">
                <i class="fas fa-external-link-alt" aria-hidden="true"></i>
              </span>
            </span>
          </a></p>
        </div>
      </div>
    </div>
  </footer>
